@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@mixin gitchText($offset, $text, $interval, $delay) {
  content: $text;
  position: absolute;
  left: $offset;
  top: $offset;
  clip: rect(0, 900px, 0, 0); 
  background-color: $darkBgrd;
  color: $darkPrim;
  animation-name : glitch;
  animation-timing-function : ease-in-out; 
  animation-iteration-count : infinite;
  animation-play-state : running;
  animation-duration : 3s;
  animation-delay: $delay + s;
}

.about {
  h1 {
    font-family: "Bebas Neue", cursive;
    font-weight: 400;  
    
    position: relative;
  }

  font-weight: 400;
  padding: 1em;

  @include lg {
    width: calc(min(120ch, calc(100%) - 64px));
  }

  @for $i from 1 through 10 {
    .content-block:nth-child(#{$i}) {
      h1 {
        &:after {
          @include gitchText(2px, attr(data-text), random(10) + 5, random(10));
        }
        &:before {
          @include gitchText(-2px, attr(data-text), random(5) + 10, random(15));
        }  
      }
    }
  }

  .content-block {
    margin: 2rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 1rem 0.5rem;

    h2 {
      font-weight: 500;
      color: $darkScnd;

      a {
        color: $darkScnd;

        &:hover {
          color: $darkThrd;
        }
      }
    }

    p {
      margin: 0.5em 0;
    }
  }

  @include lg {
    padding: 2em;
    font-size: 1em;
  }

  ul {
    list-style: none;
  }

  li::before {
    content: "• ";
    color: $darkScnd;
  }
}

@keyframes glitch {
  $steps: 20;
  @for $i from 0 through $steps{
    #{percentage($i * (1 / $steps))}{
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
    }
  }
}