@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes fluid-border {
  0% {
    border-radius: 150px 200px 180px 160px;
  }
  25% {
    border-radius: 200px 150px 50px 200px;
  }
  50% {
    border-radius: 190 200px 100px 150px;
  }
  75% {
    border-radius: 200px 130px 151px 180px;
  }
  100% {
    border-radius: 150px 200px 180px 160px;
  }
}


.homepage {
  margin: 5rem;

  text-align: center;
  .img_profile_wrapper {
    margin: 1em;
    border-radius: 50%;
    position: relative;
    --width: 15rem;
    width: 15rem;
    height: 15rem;

    .circle {
      z-index: -1;
      position: block;
      border-radius: inherit;
      background: white;
      width: calc(var(--width));
      height: calc(var(--width));
      animation: spin 10s linear infinite, fluid-border 8s ease-in-out infinite;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: inherit;
      width: calc(var(--width) - .75rem);
      height: calc(var(--width) - .75rem);
    }

    @include sm {
      padding: .5em 2em;
      font-size: 2em;
      width: 20rem;
    }

    @include lg {
      padding: .5em 2em;
      font-size: 2em;
      width: 15rem;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    line-height: 1.5em;

    margin-top: 2em;

    & > * {
      flex-basis: 1.5em;
    }

    .content_title {
      display: flex;
      flex-direction: column;
      font-size: 1.8em;
      font-weight: 600;
    }

    .content_subtitle {
      display: flex;
      flex-direction: column;
    }

    .content_icons {
      margin: 1em;
      font-size: 1.5em;
      .icon_wrapper{
        margin: 0 .2em;
        text-decoration: none;
        text-shadow: 0 0 6px rgba(202,228,225,0.25);
      }
    }

    @include sm {
      padding: .5em 2em;
      font-size: 2em;
    }

    @include lg {
      font-size: 1em;
    }
  }
}