<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>MyBlog</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet">
</head>

<body class="bg-gray-800">
  <nav class="flex flex-row md:w-2/3 mx-auto items-center justify-between p-5 md:px-20 text-white">
    <h1 class="leading-none text-2xl text-grey-darkest">
      <a class="no-underline text-grey-darkest hover:text-black" href="#">
        <img class="w-24 inline" src="/hello.svg" alt="Hello">
      </a>
    </h1>
    <div class="font-mono">
      <a> About me </a>
    </div>
  </nav>
  <section class="section">
    <div class="container mx-auto">
      {% block content %} {% endblock %}
    </div>
  </section>
</body>

</html>
