<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
  <meta charset="utf-8">
  <title>MyBlog</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet">
</head>

<body class="h-full bg-gray-800 leading-normal">
  <div class="flex flex-col h-full">
    <nav class="flex flex-row md:w-2/3 mx-auto items-center justify-between p-5 md:px-20 text-white">
      <a class="no-underline text-grey-darkest hover:text-black" href="#">
        <img class="w-24 inline" src="/hello.svg" alt="Hello">
      </a>
      <div class="font-semibold font-sans">
        <a> About me </a>
      </div>
    </nav>
    <main class="flex-1">
      <div class="container mx-auto">
        {% block content %} {% endblock %}
      </div>
    </main>
    <footer class="flex justify-center font-semibold text-white font-sans p-3">
      © 2021 - Nantes
    </footer>
  </div>
</body>

</html>
