{% extends "base.html" %}

{% block content %}
<div class="flex flex-col items-center justify-center">
  <div class="bg-gray-300 rounded-full h-64 w-64 flex mt-20 mb-10">
    <img class="rounded-full ring-4 ring-gray-200" src="/{{ config.extra.author_image }}" alt="Hello">
  </div>
  <div class="flex flex-col text-white items-center justify-center">
    <div class="text-3xl font-semibold m-1">
      {{ config.extra.author }}
    </div>
    <div class="flex flex-col items-center justify-center m-1">
      <span class="font-medium"> {{ config.extra.job }} </span> 
      <span class="font-thin"> {{ config.extra.description }} </span>
    </div>
    <div class="flex space-x-3 text-2xl m-2">
      {% for link in config.extra.links %}
        <a class="no-underline text-grey-darkest hover:text-gray-400" href="{{ link.url }}">
          <i class="{{ link.icon }}"></i>
        </a>
      {% endfor %}  
    </div>
  </div>
</div>
{% endblock content %}